<div class="main" style="align-items:center">
  <h1 style="color:white;">Welcome to Lawn Tennis Trainer</h1>
  <ul class="cards" style="align-content:center; justify-content:center;">
    <li class="cards_item">
      <div class="card">
        
        <div class="card_content">
          <h2 class="card_title">Tennis Trainer Seeker</h2>
          <p class="card_text">Find a trainer that fits your goals/p>
          <button class="btn card_btn">Read More</button>
        </div>
      </div>
    </li>
    
    <li class="cards_item">
      <div class="card">
        
        <div class="card_content">
          <h2 class="card_title">Tennis Trainer</h2>
          <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
          <button class="btn card_btn">Read More</button>
        </div>
      </div>
    </li>
      </ul>
</div>

<h3 class="made_by">Made with ♡</h3>