<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="wrapper" style="margin: 0;padding: 0;font-family: "Ubuntu", sans-serif;background: url("https://i.imgur.com/dTCFCMS.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;">
    <ul class="nav-bar"style="margin: 0;padding: 0;list-style: none;
  width: 300px;
  height: 45px;
  padding: 10px;">
      <li class="active">home</li>
      <li class="hide">policy</li>
      <li>buy now</li>
    </ul>
    
    <div class="content" style="margin: 0;padding: 0;">
      <h1>Follow your dreams.</h1>
      <p>They now the way.</p>
    </div>
    
    <ul class="share" style="margin: 0;padding: 0;">
      <li data-text="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></li>
      <li data-text="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></li>
      <li data-text="google+"><i class="fa fa-google-plus" aria-hidden="true"></i></li>
    </ul>
  
</div>

