<div class="main" style="align-items:center">
  <h1 style="color:white;">Welcome to Lawn Tennis Trainer</h1>
  <ul class="cards" style="align-content:center; justify-content:center;">
    <li class="cards_item">
      <div class="card">
        
        <div class="card_content">
          <h2 class="card_title">Tennis Trainer Seeker</h2>
          <p class="card_text">Find a trainer that fits your training goals. Many ways to yay</p>
          <button class="btn card_btn">Sign up </button>
        </div>
      </div>
    </li>
    
    <li class="cards_item">
      <div class="card">
        
        <div class="card_content">
          <h2 class="card_title">Tennis Trainer</h2>
          <p class="card_text">Sign up as a trainer. Get easy access to the training community</p>
          <button class="btn card_btn">Sign up </button>
        </div>
      </div>
    </li>
      </ul>
</div>

